<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <style type="text/css">
    <!--
    .tbox-affi-center table{  
      margin-left: auto;
      margin-right: auto;
    }

    .tbox-image-center {
      text-align: center;
    }
    -->
    </style>

  </head>
  <body>

  {% if image_print_affi_or_image %}
    <div class="tbox-affi-center">
      {% autoescape false %}
  
        {{ image_print_url }}
  
      {% endautoescape %}
    </div>
  {% else %}
    <div class="tbox-image-center">

      <img src="{{ image_print_url }}" />

    </div>
  {% endif %}

  </body>
</html>
