body {background-color: #008080;} 

.category-center {
  text-align:center;
}

.category-title {
  font-size: 400%;
  color: #000000;
/*  color: #808080; */
/*  text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070; */
  margin-bottom: 20px;
}
