/*
Style Sheet
*/

a:link { 
  color: #808080;
  text-decoration: none;
}

a:visited {
  color: #808080;
  text-decoration: none;
}

a:hover {
  color: #808080;
  text-decoration: none;
}

a:active {
  color: #808080;
  text-decoration: none;
}

.my-center {
  text-align:center;
}

.my-title {
  font-size: 400%;
  color: #000000;
/*  text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070; */
  margin-bottom: 20px;
}
